@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
  box-sizing: border-box;
}

main {
  background-color: gray;
}
main #banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
main #banner nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}
main #banner nav .nav-container .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 815px;
  height: 24px;
}
main #banner nav .nav-container .nav-items .nav-link {
  font-size: 21px;
  color: white;
  text-decoration: none;
}
main #banner .logo {
  margin: 155px 0 48px 0;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #919191;
}
main #banner .logo-text {
  font-size: 40px;
  color: white;
}
main #banner .slogan {
  margin: 24px 0 74px 0;
  font-size: 20px;
  color: white;
}
main #banner .icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 289px;
  height: 50px;
}
main #banner .icons .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
main #concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1166px;
  background-color: #fff;
}
main #concept article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  width: 1313px;
  height: 583px;
}
main #concept article .text .concept-title {
  font-size: 48px;
}
main #concept article .text .concept-text {
  width: 539px;
  height: 268px;
  font-size: 24px;
  line-height: 48px;
}
main #concept article .concept-img {
  width: 660px;
  height: 471px;
}
main #environment {
  position: relative;
  width: 100%;
  height: 1300px;
  background-color: #ffffff;
}
main #environment .environment-img1 {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 1467px;
  height: 600px;
  background-color: #848484;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
  border-radius: 10px;
}
main #environment .environment-img2 {
  position: absolute;
  top: 647px;
  left: 219px;
  width: 907px;
  height: 504px;
  background-color: #848484;
  -webkit-clip-path: polygon(0 23%, 90% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 23%, 90% 0, 100% 100%, 0% 100%);
  border-radius: 10px;
}
main #environment .environment-img3 {
  position: absolute;
  top: 563px;
  left: 1046px;
  width: 640px;
  height: 588px;
  background-color: #848484;
  -webkit-clip-path: polygon(0 14%, 100% 0, 100% 100%, 14% 100%);
          clip-path: polygon(0 14%, 100% 0, 100% 100%, 14% 100%);
  border-radius: 10px;
}
main #environment .cat-img {
  position: absolute;
  top: 842px;
  left: 219px;
  width: 228px;
  height: 438px;
}
main #environment .dialog-img {
  position: absolute;
  top: 350px;
  left: 1100px;
  width: 610px;
  height: 266px;
}
main #food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main #food-card h1 {
  font-size: 48px;
  margin: 100px 0 45px 0;
}
main #food-card .row {
  display: flex;
  justify-content: space-between;
  width: 1322px;
  height: 422px;
}
main #food-card .row .column {
  margin: 5px;
  perspective: 700px;
}
main #food-card .row .column .food-img {
  position: relative;
  width: 420px;
  height: 420px;
}
main #food-card .row .column .food-img:hover > .front {
  transform: rotateY(-180deg);
}
main #food-card .row .column .food-img:hover > .back {
  transform: rotateY(0deg);
}
main #food-card .row .column .food-img .front,
main #food-card .row .column .food-img .back {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  height: 100%;
}
main #food-card .row .column .food-img .front {
  z-index: 2;
}
main #food-card .row .column .food-img .front .front-img {
  width: 100%;
  height: 100%;
}
main #food-card .row .column .food-img .back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  background-color: white;
}
main #food-card .row .column .food-img .back span {
  perspective: 1000px;
  transform: translateZ(95px) scale(0.81);
  font-size: 50px;
}
main #menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  background-color: #fff;
}
main #menu .menu-nav {
  text-align: center;
}
main #menu .menu-nav h1 {
  font-size: 48px;
  margin: 100px 0 45px 0;
}
main #menu .menu-nav .menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1310px;
  height: 64px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
main #menu .menu-nav .menu-items .menu-item {
  list-style-type: none;
}
main #menu .menu-nav .menu-items .menu-item .menu-link {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
main #menu .pet-food {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  width: 1310px;
  height: 810px;
}
main #menu .pet-food .pet-food-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 532px;
  height: 422px;
}
main #menu .pet-food .pet-food-intro h2 {
  font-size: 36px;
}
main #menu .pet-food .pet-food-intro .row {
  display: flex;
  border-bottom: 1px solid gray;
}
main #menu .pet-food .pet-food-intro .row .column h3 {
  font-size: 30px;
}
main #menu .pet-food .pet-food-intro .row .column .content {
  font-size: 21px;
}
main #menu .pet-food .pet-food-intro .row .column .price {
  font-size: 30px;
}
main #menu .pet-food .food-pic {
  position: relative;
  width: 709px;
  height: 812px;
}
main #menu .pet-food .food-pic .small-pic {
  position: absolute;
  width: 350px;
  height: 400px;
}
main #menu .pet-food .food-pic .small-pic2 {
  top: 405px;
}
main #menu .pet-food .food-pic .large-pic {
  position: absolute;
  top: 0;
  left: 355px;
  width: 350px;
  height: 805px;
}
main #adoption-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
}
main #adoption-info h1 {
  font-size: 48px;
  margin: 100px 0 45px 0;
}
main #adoption-info .nav-items {
  display: flex;
}
main #adoption-info .nav-items .nav-item {
  list-style: none;
  text-align: center;
  width: 350px;
  height: 100px;
  line-height: 100px;
  margin: 0 0 24px 12px;
  background-color: gray;
}
main #adoption-info .nav-items .nav-item .nav-link {
  text-decoration: none;
  font-size: 36px;
  color: white;
}
main #adoption-info .content {
  width: 1321px;
  height: 783px;
  border-radius: 20px;
  background-color: gray;
}
main #story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
main #story h1 {
  font-size: 48px;
  margin: 100px 0 45px 0;
}
main #story .swiper {
  width: 100%;
  height: 100%;
}
main #story .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
main #story .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 110px 320px;
  align-items: flex-start;
  background-color: gray;
}
footer .business-hours {
  width: 100%;
}
footer .business-hours .row {
  display: flex;
  justify-content: space-between;
}
footer .business-hours .line-break {
  width: 100%;
  height: 30px;
}
footer .contact-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .line {
  width: 100%;
  padding: 45px 0;
}/*# sourceMappingURL=style.css.map */