@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
  box-sizing: border-box;
}

#mask {
  display: none;
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

#modal {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 50%;
  height: 80vh;
  background-image: none;
<<<<<<< HEAD
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
=======
  background-size: cover;
  transform: translate(-50%, -50%);
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
  opacity: 0;
}
#modal .close-btn {
  font-size: 50px;
}

html {
  scroll-behavior: smooth;
}

main #banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 70px 0 180px 0;
  background: url(./images/banner/Banner.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}
main #banner .nav {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  transition: all 0.3s ease-in-out;
  z-index: 900;
}
main #banner .nav .nav-items {
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  height: 24px;
}
main #banner .nav .nav-items .logo-item {
  display: none;
  width: 50px;
  height: 34px;
}
main #banner .nav .nav-items .nav-item {
  margin-left: 60px;
}
main #banner .nav .nav-items .nav-item:hover > .nav-link {
  color: #f0bd0c;
}
main #banner .nav .nav-items .nav-item .nav-link {
  font-weight: 600;
  font-size: 21px;
  color: white;
  text-decoration: none;
}
main #banner .logo {
  margin: 215px 0 70px 0;
  width: 280px;
  height: 240px;
  background: url(./images/banner/logo/logo.svg) no-repeat;
  background-size: contain;
}
main #banner .logo-text {
  font-size: 39.96px;
  color: white;
}
main #banner .slogan {
  margin: 25px 0 75px 0;
  font-size: 21px;
  color: white;
}
main #banner .icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 290px;
  height: 50px;
}
main #banner .icons .icon img {
  width: 50px;
  height: 50px;
}
<<<<<<< HEAD

@media screen and (max-width: 920px) {
  main #banner .nav {
    display: none;
    width: 68px;
    height: 60px;
    background-image: url(./images/banner/icons/nav-icon.svg);
    background-size: contain;
  }
  main #banner .logo {
    width: 230px;
    height: 200px;
  }
  main #banner .logo .logo-text {
    font-size: 24px;
  }
}

=======
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
main #concept {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 130px;
  width: 100%;
  height: 1280px;
  background-color: #fff;
}
main #concept article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 470px;
  margin-bottom: 75px;
}
main #concept article .text {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
main #concept article .text .concept-title {
  font-size: 48px;
  margin-bottom: 20px;
}
main #concept article .text .dog-img {
  width: 55px;
  height: 70px;
  margin-left: 30px;
}
main #concept article .text .cat-img {
  width: 60px;
  height: 60px;
  margin-left: 15vw;
}
main #concept article .text .concept-text {
  font-size: 1.3vw;
  line-height: 2.6vw;
}
main #concept article .concept-img {
  width: 34.4vw;
  height: 24.5vw;
}
main #environment {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 980px;
  background-color: #ffffff;
}
main #environment .environment-img {
  position: relative;
  width: 1700px;
  height: 885px;
}
main #environment .environment-img .full-screen-1,
main #environment .environment-img .full-screen-2,
main #environment .environment-img .full-screen-3 {
  cursor: pointer;
}
main #environment .environment-img h1 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 12.5vw;
  height: 5vw;
  background-color: #f0bd0c;
  font-size: 48px;
  text-align: center;
  line-height: 5vw;
  z-index: 2;
}
main #environment .environment-img .large-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 535px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
  border-radius: 10px;
  background-image: url(./images/店家環境/shop01.jpg);
  background-size: cover;
  background-position: 0px -216px;
}
main #environment .environment-img .large-img:hover > .filter1 {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
main #environment .environment-img .large-img .filter1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 530px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
}
main #environment .environment-img .large-img .filter1 i {
  font-size: 50px;
  color: white;
}
main #environment .environment-img .small-img1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 430px;
  background-image: url(./images/店家環境/shop02.JPG);
  background-size: cover;
  background-position: right;
  -webkit-clip-path: polygon(0 22%, 91% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 22%, 91% 0, 100% 100%, 0% 100%);
  border-radius: 10px;
}
main #environment .environment-img .small-img1:hover > .filter2 {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
main #environment .environment-img .small-img1 .filter2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 430px;
  -webkit-clip-path: polygon(0 22%, 91% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 22%, 91% 0, 100% 100%, 0% 100%);
}
main #environment .environment-img .small-img1 .filter2 i {
  font-size: 50px;
  color: white;
}
main #environment .environment-img .small-img2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 44%;
  height: 510px;
  background-image: url(./images/店家環境/shop03.JPG);
  background-size: cover;
  background-position: left;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 12% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 12% 100%);
  border-radius: 10px;
}
main #environment .environment-img .small-img2:hover > .filter3 {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
main #environment .environment-img .small-img2 .filter3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 510px;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 12% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 12% 100%);
}
main #environment .environment-img .small-img2 .filter3 i {
  font-size: 50px;
  color: white;
}
main #environment .cat-shadow {
  position: absolute;
  bottom: 10px;
  left: 100px;
  width: 155px;
  height: 300px;
  opacity: 0.8;
}
main #environment .dialog-img {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 32vw;
  height: 14vw;
}
main #food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  height: 980px;
  background-color: #f0bd0c;
}
main #food-card h1 {
  font-size: 48px;
  margin: 70px 0 30px 0;
}
main #food-card .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 68.7%;
  margin: 0 0 -30px -30px;
}
main #food-card .row .column {
  width: 33.3%;
  height: 360px;
  perspective: 700px;
  padding: 0 0 30px 30px;
}
main #food-card .row .column .food-img {
  position: relative;
  width: 100%;
  height: 100%;
}
main #food-card .row .column .food-img:hover > .front {
  transform: rotateY(-180deg);
}
main #food-card .row .column .food-img:hover > .back {
  transform: rotateY(0deg);
}
main #food-card .row .column .food-img .front,
main #food-card .row .column .food-img .back {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  height: 100%;
}
main #food-card .row .column .food-img .front {
  z-index: 2;
}
main #food-card .row .column .food-img .front .front-img {
  width: 100%;
  height: 100%;
}
main #food-card .row .column .food-img .front .front-img .cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
main #food-card .row .column .food-img .front .front-img .cover span {
  color: white;
  font-size: 1.9vw;
  font-weight: 600;
}
main #food-card .row .column .food-img .front .front-img1 {
  background-image: url(./images/好食餐點/beef.jpg);
  background-size: cover;
  background-position: -37px 0;
}
main #food-card .row .column .food-img .front .front-img2 {
  background-image: url(./images/好食餐點/pork.jpg);
  background-size: cover;
  background-position: -40px 0;
}
main #food-card .row .column .food-img .front .front-img3 {
  background-image: url(./images/好食餐點/cook.jpg);
  background-size: cover;
}
main #food-card .row .column .food-img .front .front-img4 {
  background-image: url(./images/好食餐點/fruit-tea.jpg);
  background-size: cover;
}
main #food-card .row .column .food-img .front .front-img5 {
  background-image: url(./images/好食餐點/covid-fight.jpg);
  background-size: cover;
}
main #food-card .row .column .food-img .front .front-img6 {
  background-image: url(./images/好食餐點/pet-food.jpg);
  background-size: cover;
}
main #food-card .row .column .food-img .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  background-color: black;
}
main #food-card .row .column .food-img .back img {
  width: 131px;
}
main #food-card .row .column .food-img .back img,
main #food-card .row .column .food-img .back h2,
main #food-card .row .column .food-img .back p {
  perspective: 1000px;
  transform: translateZ(95px) scale(0.81);
  font-weight: 600;
  color: white;
}
main #food-card .row .column .food-img .back h2 {
  font-size: 2vw;
  margin-bottom: 15px;
}
main #food-card .row .column .food-img .back p {
  font-size: 24px;
}
main #food-card .dog-shadow {
  position: absolute;
  right: 190px;
  bottom: 25px;
  width: 210px;
  height: 245px;
}
main #menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 980px;
  background-color: #000000;
}
main #menu .menu-type {
  width: 80%;
  text-align: center;
}
main #menu .menu-type h1 {
  font-size: 48px;
  margin: 70px 0 30px 0;
  color: #f0bd0c;
}
main #menu .menu-type .menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
main #menu .menu-type .menu-items .menu-item {
  list-style-type: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2vw;
  width: 14%;
  cursor: pointer;
}
main #menu .menu-type .menu-items .menu-item:hover {
  color: #dc8b40;
  font-weight: 600;
}
main #menu .menu-type .menu-items .active {
  position: relative;
  color: #dc8b40;
}
main #menu .menu-type .menu-items .active::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 1.2vw;
  height: 1.2vw;
  background-image: url(./images/幸福菜單/icons/foot-print.svg);
}
main #menu .content {
  display: none;
  width: 77%;
}
main #menu .now {
  display: block;
}
main #menu .pasta-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 77%;
  height: 665px;
  width: 100%;
}
main #menu .pasta-content .pasta-intro {
  width: 73%;
}
main #menu .pasta-content .pasta-intro .pasta-title {
  display: flex;
  align-items: center;
  height: 85px;
  width: 500px;
}
main #menu .pasta-content .pasta-intro .pasta-title img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 2px;
}
main #menu .pasta-content .pasta-intro .pasta-title h2 {
  color: #E19040;
  font-size: 2vw;
}
main #menu .pasta-content .pasta-intro .row {
  display: flex;
  width: 100%;
}
main #menu .pasta-content .pasta-intro .row .column1,
main #menu .pasta-content .pasta-intro .row .column2 {
  width: 50%;
  margin-right: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
main #menu .pasta-content .pasta-intro .row .column1 .meal-content,
main #menu .pasta-content .pasta-intro .row .column2 .meal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 30px;
}
main #menu .pasta-content .pasta-intro .row .column1 .meal-content h3,
main #menu .pasta-content .pasta-intro .row .column2 .meal-content h3 {
  color: #f0bd0c;
  font-size: 1.6vw;
}
main #menu .pasta-content .pasta-intro .row .column1 .meal-content span,
main #menu .pasta-content .pasta-intro .row .column2 .meal-content span {
  color: #ffffff;
  font-size: 1.6vw;
}
<<<<<<< HEAD

main #menu .pasta-content .pasta-intro .row .column1 .img,
main #menu .pasta-content .pasta-intro .row .column2 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 180px;
}

main #menu .pasta-content .pasta-intro .row .column1 .img .dog,
main #menu .pasta-content .pasta-intro .row .column2 .img .dog {
  -webkit-transform: translate(180px, 230px);
          transform: translate(180px, 230px);
  width: 140px;
  height: 180px;
}

main #menu .pasta-content .pasta-intro .row .column1 .img .cat,
main #menu .pasta-content .pasta-intro .row .column2 .img .cat {
  -webkit-transform: translate(180px, 250px);
          transform: translate(180px, 250px);
  width: 160px;
  height: 160px;
}

main #menu .pasta-content .pasta-pic {
  overflow: hidden;
}

main #menu .pasta-content .pasta-pic img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .pasta-content .pasta-pic img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

=======
main #menu .pasta-content .pasta-pic {
  width: 350px;
  height: 670px;
  background-image: url(./images/幸福菜單/義大利麵/pasta01.jpg);
  background-size: cover;
}
main #menu .pasta-content .pasta-pic .dog {
  transform: translate(-340px, 483px);
  width: 140px;
  height: 180px;
}
main #menu .pasta-content .pasta-pic .cat {
  transform: translate(-340px, 483px);
  width: 160px;
  height: 160px;
}
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
main #menu .hot-pot-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 77%;
  height: 665px;
  width: 100%;
}
main #menu .hot-pot-content .hot-pot-intro {
  width: 35%;
}
main #menu .hot-pot-content .hot-pot-intro .hot-pot-title {
  display: flex;
  align-items: center;
  height: 85px;
}
main #menu .hot-pot-content .hot-pot-intro .hot-pot-title img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 2px;
}
main #menu .hot-pot-content .hot-pot-intro .hot-pot-title h2 {
  color: #E19040;
  font-size: 2vw;
}
main #menu .hot-pot-content .meal-content {
  display: flex;
  flex-direction: column;
  font-size: 1.6vw;
}
main #menu .hot-pot-content .meal-content .meal-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  height: 144px;
}
main #menu .hot-pot-content .meal-content .meal-description .meal-title {
  display: flex;
  justify-content: space-between;
}
main #menu .hot-pot-content .meal-content .meal-description .meal-title h3 {
  color: #f0bd0c;
  margin-bottom: 25px;
  font-size: 1.6vw;
}
main #menu .hot-pot-content .meal-content .meal-description .meal-title span {
  color: #ffffff;
  font-size: 1.6vw;
}
main #menu .hot-pot-content .meal-content .meal-description p {
  color: #ffffff;
  font-size: 24px;
}
main #menu .hot-pot-content .meal-content .row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
main #menu .hot-pot-content .meal-content .row .column1 {
  display: flex;
  flex-direction: column;
  color: #f0bd0c;
  font-size: 1.3vw;
}
main #menu .hot-pot-content .meal-content .row .column2 {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 1.3vw;
}
main #menu .hot-pot-content .meal-content .row span {
  margin-bottom: 20px;
}
main #menu .hot-pot-content .hot-pot-pic {
  display: flex;
  width: 48%;
  height: 670px;
}
main #menu .hot-pot-content .hot-pot-pic .hot-pot-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  height: 670px;
  margin-right: 10px;
}
<<<<<<< HEAD

main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .left1 {
  overflow: hidden;
}

main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .left1 img {
=======
main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .hot-pot1 {
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .left1 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .left2 {
  overflow: hidden;
  margin-top: 10px;
}
<<<<<<< HEAD

main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .left2 img {
=======
main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .hot-pot2 {
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .hot-pot-content .hot-pot-pic .hot-pot-left .left2 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .hot-pot-content .hot-pot-pic .hot-pot-right {
  overflow: hidden;
}

main #menu .hot-pot-content .hot-pot-pic .hot-pot-right img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .hot-pot-content .hot-pot-pic .hot-pot-right img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .chef-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 77%;
  height: 665px;
  width: 100%;
}
main #menu .chef-content .chef-intro {
  width: 35%;
}
main #menu .chef-content .chef-intro .chef-title {
  display: flex;
  align-items: center;
  height: 85px;
}
main #menu .chef-content .chef-intro .chef-title img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 2px;
}
main #menu .chef-content .chef-intro .chef-title h2 {
  color: #E19040;
  font-size: 2vw;
}
main #menu .chef-content hr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 0;
}
main #menu .chef-content .meal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.6vw;
}
main #menu .chef-content .meal-content h3 {
  color: #f0bd0c;
  font-size: 1.6vw;
}
main #menu .chef-content .meal-content span {
  color: #ffffff;
  font-size: 1.6vw;
}
main #menu .chef-content .meal-content p {
  color: #ffffff;
  font-size: 1.3vw;
}
main #menu .chef-content .meal-content .meal-title {
  display: flex;
  flex-wrap: wrap;
}
main #menu .chef-content .chef-pic {
  display: flex;
  width: 48%;
  height: 670px;
}
main #menu .chef-content .chef-pic .chef-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  height: 670px;
  margin-right: 10px;
}
main #menu .chef-content .chef-pic .chef-left .chef1 {
  overflow: hidden;
}

main #menu .chef-content .chef-pic .chef-left .chef1 img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .chef-content .chef-pic .chef-left .chef1 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .chef-content .chef-pic .chef-left .chef2 {
  overflow: hidden;
}

main #menu .chef-content .chef-pic .chef-left .chef2 img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .chef-content .chef-pic .chef-left .chef2 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .chef-content .chef-pic .chef-right {
  overflow: hidden;
}

main #menu .chef-content .chef-pic .chef-right img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .chef-content .chef-pic .chef-right img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .light-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 77%;
  height: 665px;
  width: 100%;
}
main #menu .light-content .light-intro {
  width: 73%;
  height: 670px;
}
main #menu .light-content .light-intro .light-title {
  display: flex;
  align-items: center;
  height: 85px;
}
main #menu .light-content .light-intro .light-title img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 2px;
}
main #menu .light-content .light-intro .light-title h2 {
  color: #E19040;
  font-size: 2vw;
}
main #menu .light-content .light-intro .row {
  display: flex;
  justify-content: space-between;
}
main #menu .light-content .light-intro .row .column1 {
  width: 512px;
  margin-right: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
main #menu .light-content .light-intro .row .column1 .meal-content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.6vw;
}
main #menu .light-content .light-intro .row .column2 {
  display: flex;
  flex-direction: column;
  width: 512px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
main #menu .light-content .light-intro .row .column2 .img .dog {
  transform: translate(185px, 120px);
  width: 140px;
  height: 180px;
}
main #menu .light-content .light-intro .row .column2 .img .cat {
  transform: translate(185px, 120px);
  width: 160px;
  height: 160px;
}
main #menu .light-content .light-intro .row h3 {
  color: #f0bd0c;
  font-size: 1.6vw;
}
main #menu .light-content .light-intro .row span {
  color: #ffffff;
  font-size: 1.6vw;
}
main #menu .light-content .light-intro .row p {
  color: #ffffff;
  font-size: 24px;
  margin-top: 30px;
}
main #menu .light-content .light-intro .row .meal-content2 {
  display: flex;
  justify-content: space-between;
  height: 140px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
main #menu .light-content .light-intro .row .meal-content2 .meal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #menu .light-content .light-intro .row .meal-content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.6vw;
}
main #menu .light-content .light-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  height: 670px;
}
main #menu .light-content .light-pic .light1 {
  width: 350px;
  height: 330px;
  overflow: hidden;
}
<<<<<<< HEAD

main #menu .light-content .light-pic .light1 img {
=======
main #menu .light-content .light-pic .light2 {
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .light-content .light-pic .light1 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main #menu .light-content .light-pic .light2 {
  width: 350px;
  height: 330px;
  overflow: hidden;
}

main #menu .light-content .light-pic .light2 img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .light-content .light-pic .light2 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .snack-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 77%;
  height: 665px;
  width: 100%;
}
main #menu .snack-content .snack-intro {
  width: 73%;
}
main #menu .snack-content .snack-intro .snack-title {
  display: flex;
  align-items: center;
  height: 85px;
  width: 500px;
}
main #menu .snack-content .snack-intro .snack-title img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 2px;
}
main #menu .snack-content .snack-intro .snack-title h2 {
  color: #E19040;
  font-size: 2vw;
}
main #menu .snack-content .snack-intro .row {
  display: flex;
  width: 100%;
}
main #menu .snack-content .snack-intro .row .column1,
main #menu .snack-content .snack-intro .row .column2 {
  width: 50%;
  margin-right: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
main #menu .snack-content .snack-intro .row .column1 .meal-content,
main #menu .snack-content .snack-intro .row .column2 .meal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.6vw;
}
main #menu .snack-content .snack-intro .row .column1 .meal-content h3,
main #menu .snack-content .snack-intro .row .column2 .meal-content h3 {
  color: #f0bd0c;
  font-size: 1.6vw;
}
main #menu .snack-content .snack-intro .row .column1 .meal-content span,
main #menu .snack-content .snack-intro .row .column2 .meal-content span {
  color: #ffffff;
  font-size: 1.6vw;
}
<<<<<<< HEAD

main #menu .snack-content .snack-intro .row .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 180px;
}

main #menu .snack-content .snack-intro .row .img .dog {
  -webkit-transform: translate(180px, 310px);
          transform: translate(180px, 310px);
  width: 140px;
  height: 180px;
}

main #menu .snack-content .snack-intro .row .img .cat {
  -webkit-transform: translate(180px, 330px);
          transform: translate(180px, 330px);
  width: 160px;
  height: 160px;
}

main #menu .snack-content .snack-pic {
  width: 350px;
  height: 670px;
  overflow: hidden;
}

main #menu .snack-content .snack-pic img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .snack-content .snack-pic img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

=======
main #menu .snack-content .snack-pic {
  width: 350px;
  height: 670px;
  background-image: url(./images/幸福菜單/好食點心/fries01.jpg);
  background-size: cover;
}
main #menu .snack-content .snack-pic .dog {
  transform: translate(-340px, 483px);
  width: 140px;
  height: 180px;
}
main #menu .snack-content .snack-pic .cat {
  transform: translate(-340px, 483px);
  width: 160px;
  height: 160px;
}
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
main #menu .drink-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 77%;
  height: 665px;
  width: 100%;
}
main #menu .drink-content .drink-intro {
  width: 73%;
}
main #menu .drink-content .drink-intro .drink-title {
  display: flex;
  align-items: center;
  height: 85px;
  width: 500px;
}
main #menu .drink-content .drink-intro .drink-title img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 2px;
}
main #menu .drink-content .drink-intro .drink-title h2 {
  color: #E19040;
  font-size: 2vw;
}
main #menu .drink-content .drink-intro .row {
  display: flex;
  width: 100%;
}
main #menu .drink-content .drink-intro .row .column1,
main #menu .drink-content .drink-intro .row .column2,
main #menu .drink-content .drink-intro .row .column3 {
  width: 33.3%;
  margin-right: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
main #menu .drink-content .drink-intro .row .column1 .meal-content,
main #menu .drink-content .drink-intro .row .column2 .meal-content,
main #menu .drink-content .drink-intro .row .column3 .meal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.6vw;
}
main #menu .drink-content .drink-intro .row .column1 .meal-content h3,
main #menu .drink-content .drink-intro .row .column2 .meal-content h3,
main #menu .drink-content .drink-intro .row .column3 .meal-content h3 {
  color: #f0bd0c;
  font-size: 1.6vw;
}
main #menu .drink-content .drink-intro .row .column1 .meal-content span,
main #menu .drink-content .drink-intro .row .column2 .meal-content span,
main #menu .drink-content .drink-intro .row .column3 .meal-content span {
  color: #ffffff;
  font-size: 1.6vw;
}
main #menu .drink-content .drink-pic {
  width: 350px;
  height: 670px;
  overflow: hidden;
}

main #menu .drink-content .drink-pic img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .drink-content .drink-pic img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .pet-food-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 77%;
  height: 665px;
  width: 100%;
}
main #menu .pet-food-content .pet-food-intro {
  width: 35%;
}
main #menu .pet-food-content .pet-food-intro .pet-food-title {
  display: flex;
  align-items: center;
  height: 85px;
}
main #menu .pet-food-content .pet-food-intro .pet-food-title img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 2px;
}
main #menu .pet-food-content .pet-food-intro .pet-food-title h2 {
  color: #E19040;
  font-size: 2vw;
}
main #menu .pet-food-content hr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 0;
}
main #menu .pet-food-content .meal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.6vw;
}
main #menu .pet-food-content .meal-content h3 {
  color: #f0bd0c;
  font-size: 1.6vw;
}
main #menu .pet-food-content .meal-content span {
  color: #ffffff;
  font-size: 1.6vw;
}
main #menu .pet-food-content .meal-content p {
  color: #ffffff;
}
main #menu .pet-food-content .dog {
  transform: translate(-78px, 485px);
  width: 140px;
  height: 180px;
}
main #menu .pet-food-content .cat {
  transform: translate(-78px, 505px);
  width: 160px;
  height: 160px;
}
main #menu .pet-food-content .pet-food-pic {
  display: flex;
  width: 48%;
  height: 670px;
}
main #menu .pet-food-content .pet-food-pic .pet-food-left {
  width: 350px;
  height: 670px;
  margin-right: 10px;
}
main #menu .pet-food-content .pet-food-pic .pet-food-left .pet-food1 {
  width: 100%;
  height: 330px;
  margin-bottom: 10px;
  overflow: hidden;
}

main #menu .pet-food-content .pet-food-pic .pet-food-left .pet-food1 img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .pet-food-content .pet-food-pic .pet-food-left .pet-food1 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .pet-food-content .pet-food-pic .pet-food-left .pet-food2 {
  width: 100%;
  height: 330px;
  overflow: hidden;
}

main #menu .pet-food-content .pet-food-pic .pet-food-left .pet-food2 img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .pet-food-content .pet-food-pic .pet-food-left .pet-food2 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #menu .pet-food-content .pet-food-pic .pet-food-right {
  width: 350px;
  height: 670px;
  overflow: hidden;
}

main #menu .pet-food-content .pet-food-pic .pet-food-right img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main #menu .pet-food-content .pet-food-pic .pet-food-right img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main #adoption-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: 980px;
}
main #adoption-info h1 {
  font-size: 48px;
  margin: 70px 0 30px 0;
}
<<<<<<< HEAD

main #adoption-info .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #adoption-info .questions .question {
  position: relative;
=======
main #adoption-info .nav-items {
  display: flex;
}
main #adoption-info .nav-items .nav-item {
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
  list-style: none;
  text-align: center;
  width: 18vw;
  height: 5vw;
  line-height: 5vw;
  margin: 0 0 30px 12px;
  background-color: #dc8b40;
  font-size: 1.9vw;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
<<<<<<< HEAD

main #adoption-info .questions .question:hover {
  background-color: #000000;
  color: #f0bd0c;
}

main #adoption-info .questions .radio {
  display: none;
}

main #adoption-info .questions #q1:checked + label,
main #adoption-info .questions #q2:checked + label,
main #adoption-info .questions #q3:checked + label {
  background-color: #000000;
  color: #f0bd0c;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

main #adoption-info .questions #q1:checked + label::before,
main #adoption-info .questions #q2:checked + label::before,
main #adoption-info .questions #q3:checked + label::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #000000;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

main #adoption-info .questions #q1:checked + label::after {
  content: '';
  position: absolute;
  top: -90px;
  left: -75px;
  width: 7vw;
  height: 7vw;
  background-image: url(./images/寵物認養/cat-dialog.svg);
  background-size: cover;
=======
main #adoption-info .nav-items .nav-item .nav-link {
  text-decoration: none;
  font-size: 36px;
  color: white;
>>>>>>> 384eddf6368299f4d97cf58b2a47a46dfbfd51f0
}
main #adoption-info .dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 69vw;
  height: 630px;
  padding: 50px;
  border-radius: 20px;
  background-color: #f0bd0c;
}

main #adoption-info .dialog .profile-pic {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-right: 30px;
  background-image: url(./images/寵物認養/profile-pic.svg);
  background-size: cover;
}

main #adoption-info .dialog .message {
  width: 49vw;
  height: 26vw;
  border-radius: 6px;
}

main #adoption-info .dialog .message .from-customers {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  width: 35vw;
  line-height: 87px;
  background-color: #ffffff;
  font-size: 1.5vw;
  border-radius: 20px;
}

main #adoption-info .dialog .message .from-customers::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 34px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-top: 0;
  margin-top: 8px;
  margin-left: -15px;
}

main #adoption-info .dialog .message p {
  background-color: #ffffff;
  margin-bottom: 10px;
  font-size: 1.5vw;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

main #adoption-info .dialog .message .from-us-1,
main #adoption-info .dialog .message .from-us-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50vw;
  padding: 30px;
  margin-bottom: 20px;
}

main #adoption-info .dialog .message .from-us-1::after,
main #adoption-info .dialog .message .from-us-2::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 34px solid transparent;
  border-left-color: #ffffff;
  border-right: 0;
  border-top: 0;
  margin-top: 140px;
  margin-right: -15px;
}

main #adoption-info .dialog .logo-pic {
  position: absolute;
  right: 20px;
  bottom: 50px;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-right: 30px;
  background-image: url(./images/寵物認養/logo.svg);
  background-size: cover;
}
main #story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
main #story h1 {
  font-size: 48px;
  margin: 70px 0 30px 0;
}
main #story .swiper {
  width: 100%;
  height: 100%;
}
main #story .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
main #story .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 110px 320px;
  align-items: flex-start;
  background-color: black;
  color: white;
}
footer h1 {
  color: #f5c20c;
  margin-bottom: 25px;
}
footer .business-hours {
  width: 100%;
}
footer .business-hours .title {
  display: flex;
  justify-content: center;
}
footer .business-hours .weekdays-title {
  color: #e19040;
}
footer .business-hours .row {
  display: flex;
  justify-content: space-between;
}
footer .business-hours .line-break {
  width: 100%;
  height: 30px;
}
footer .contact-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .line {
  width: 100%;
  padding: 45px 0;
}/*# sourceMappingURL=style.css.map */